* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#popup {
  position: absolute;

  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 5vh;
  background: gray;
}

#popup button {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}
